.flex-container {
    display: flex;
}

.hidden {
    display: none;
}

html, body { min-height: 100%; }

body {
	background-color: #334455;
	background-image: linear-gradient(to bottom, #00000099, transparent);
	color: #eeeeee;
	font-family: 'Lato', sans-serif;
	padding: 0 20px;
	box-sizing: border-box;
}

.main-container {
	flex-direction: column;
	height: 100%;
	align-items: center;
}

.game-title {
	padding-top: 60px;
	font-size: 50px;
	color: #4a90be;
}

.buttons-container {
	margin-top: 100px;
}

.button-container {
	background-color: #113150;
	border: 1px solid black;
	border-radius: 8px;
	margin-top: 60px;
	height: 70px;
	width: 240px;
	line-height: 3.4;
	text-align: center;
	font-size: 20px;
	user-select: none;
}

.button-container:hover {
	background-color: #1b4772;
}

.button-container:active {
	background-color: #0d233a;
}

.button {
	display: block;
	height: 100%;
	width: 100%;
}

.modal {
	position:fixed;
    z-index: 1;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgb(17, 17, 17, 0.50);
    display:flex;
    opacity: 0;
    pointer-events: none;
}

.modal-show {
	opacity: 1;
	pointer-events: unset;
}

.modal-container {
	margin:auto;
    width: 90%;
    max-width: 500px;
    max-height: 90%;
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: 48px 40px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#game-name {
	margin-top: 30px;
	height: 25px;
	width: 200px;
	font-size: 15px;
	border-radius: 4px;
}

.modal-buttons {
	width: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.modal-button {
	background-color: #213b55;
	border: 1px solid #a0a0a0;
	border-radius: 4px;
	height: 30px;
	width: 100px;
	display: block;
	text-align: center;
	line-height: 1.9;
	user-select: none;
}

.modal-button:hover {
	background-color: #224669;
}

.modal-button:active {
	background-color: #15293d;
}

.form-group {
	flex-direction: column;
}