html, body { min-height: 100%; }

body {
	background-color: #334455;
	background-image: linear-gradient(to bottom, #00000099, transparent);
	color: #eeeeee;
	font-family: 'Lato', sans-serif;
	/* padding: 0 20px; */
	box-sizing: border-box;
}

.verde {
    background-color: #00ff59;
}

.amarillo {
    background-color: #e5ff00;
}

.gris {
    background-color: #555555;
}

.blanco {
    background-color: #ffffff;
}

.navbar {
	background-color: #112233;
	background-image: linear-gradient(to bottom, #00000033, transparent);
	border-bottom: 1px solid #00000033;
	box-shadow: 0 0 32px #00000033;
	font-size: 2em;
	font-weight: 300;
    display: flex;
	grid-template-columns: repeat(var(--items), 1fr);
	/* position: fixed; */
    width: 100%;
    justify-content: space-evenly;
    user-select: none;
}

.navbar > a {
	color: #a6bace;
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}

a:hover {
    background: #ffffff0c;
	color: #aaddff;
}

.navbar > .line {
	background: #55718d;
	height: 1px;
	pointer-events: none;
	transition: all .5s;
	position: absolute;
	bottom: 0;
    width: 100%;
	--index: 0;
}

.main-container {
    width: 100%;
    max-width: 510px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tiles-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 500px;
    height: 440px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden; 
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.tile {
    border: 2px solid #929292;
    width: 60px;
    height: 60px;
    margin-top: 8px;
}

.modal{
    position:fixed;
    z-index: 1;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgb(17, 17, 17, 0.50);
    display:flex;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.modal-show{
    opacity: 1;
    pointer-events: unset;
}

.modal-container{
    margin:auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: 48px 40px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal-title{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}

.modal-text{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 25px;
}

.modal-btn{
    color: #ffffff;
    background-color: #000000;
    padding: 16px 48px;
    border: 1px solid;
    border-radius: 6px;
    display:inline-block;
    font-weight: 300;
    transition: background-color .3s;
    margin: 8px;
    cursor: pointer;
}

.modal-btn:hover{
    color: #12a5af;
    background-color: #ffffff;
}